.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;

    &.top {
        top: 5%;
    }

    &.bottom {
        bottom: 5%;

        span {
            color: #fff;

            ul li {
                list-style: none;
                padding-right: 30px;
            }
        }
    }
}

ion-slides {
    height: 100%;

    .slide-inner {
        width: 75%;
        color: #fff;
        background-color: rgb(255, 182, 182);
        border-radius: 10px;

        ion-item {
            --background: rgba(255, 255, 255, 0.8);
            --border-radius: 10px;
        }
    }
}

.fundo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    background-color: var(--ion-color-primary);

    .melancia {
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        height: 100px;
        background-image: url('/assets/img/melancia.png');
        background-size: contain;
        transition: all 0.5s;
    }

//     span {
//         position: absolute;
//         bottom: 10%;
//         right: 0;
//         left: 0;
//         color: #fff;
//     }
}

